<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!----======== CSS ======== -->
    <link rel="stylesheet" href="/stylesheets/admin.css">
    <link rel="stylesheet" href="/stylesheets/table.css">
    <link rel="stylesheet" href="/stylesheets/deletebutton.css">
     
    <!----===== Iconscout CSS ===== -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-regular-straight/css/uicons-regular-straight.css'>
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css'>
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-thin-straight/css/uicons-thin-straight.css'>

    <title>Admin Panel</title>
    <style>
        .add-route-button {
            position: fixed;
            bottom: 20px;
            right: 20px;
            background-color: #4CAF50;
            color: white;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-size: 16px;
            text-decoration: none; /* Added to remove underline from link */
            display: inline-block; /* Added to make it look like a button */
        }
    </style>
</head>
<body>
    <nav>
        <div class="logo-name">
            <div class="logo-image">
               <img src="images/logo.png" alt="">
            </div>

            <span class="logo_name">Journey Sync.com</span>
        </div>

        <div class="menu-items">
            <ul class="nav-links">
                <li><a href="/admin">
                        <i class="uil uil-estate"></i>
                        <span class="link-name">Dashboard</span>
                    </a></li>
                <li><a href="/admin/adminUsers">
                        <i class="fi fi-rs-user"></i>
                        <span class="link-name">Users</span>
                    </a></li>
                <li><a href="/admin/buses">
                        <i class="fi fi-rr-bus"></i>
                        <span class="link-name">Buses</span>
                    </a></li>
                <li><a href="/admin/reservation">
                        <i class="fi fi-rr-memo-circle-check"></i>
                        <span class="link-name">Reservations</span>
                    </a></li>
                <li><a href="/admin/feedbacks">
                        <i class="fi fi-rr-smiley-comment-alt"></i>
                        <span class="link-name">FeedBacks</span>
                    </a></li>
                <li><a href="/admin/routes">
                        <i class="fi fi-rs-route"></i>
                        <span class="link-name">Routes</span>
                    </a></li>
            </ul>
            
            <ul class="logout-mode">
                <li><a id="popupButton">
                    <i class="uil uil-signout"></i>
                    <span class="link-name">Logout</span>
                </a></li>

                <li class="mode">
                    <a href="#">
                        <i class="uil uil-moon"></i>
                    <span class="link-name">Dark Mode</span>
                </a>

                <div class="mode-toggle">
                  <span class="switch"></span>
                </div>
            </li>
            </ul>
        </div>
    </nav>

    <section class="dashboard">
        <div class="top">
            <i class="uil uil-bars sidebar-toggle"></i>
        </div>

        <div class="popup" id="popupMessage">
            <span class="close" onclick="closePopup()">&times;</span>
            <p>Are you sure you want to sign out?</p>
            <button id="signout">Logout</button>
        </div>

        <div class="dash-content">
            <div class="overview">
                <div class="title">
                    <i class="fi fi-rs-route"></i>
                    <span class="text">Routes</span>
                </div>

                <div class="field" id="field">
                    <table>
                        <thead>
                            <tr class="table100-head">
                                <th class="column1">Id</th>
                                <th class="column2">Boarding Point</th>
                                <th class="column3">Destination Point</th>
                                <th class="column4">Number of Buses</th>
                                <th class="column5">Enroll Bus</th>
                            </tr>
                        </thead>
                        <tbody class="UserData">
                            {{#each routes}}

                            <tr>
                                <td class="column1">{{this._id}}</td>
                                <td class="column2">{{boardingPoint}}</td>
                                <td class="column3">{{destinationPoint}}</td>
                                <td class="column4">{{busesEnrolled.length}}</td>
                                <td class="column5"><a href="/admin/enroll/?id={{this._id}}&fare={{this.totalFare}}" class="enroll-button">Enroll Bus</a></td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
    <a href="/admin/add-route" class="add-route-button">Add Route</a>
<script src="./js/modeToggle.js"></script>
<script src="./js/adminLogout.js"></script>
<script src="./js/adminRoutes.js"></script>
</body>
</html>
